* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0919;
}
.calculator {
  display: grid;
  border: 2px solid black;
  padding: 5px;
  position: relative;
}
.calculator .value {
  grid-column: span 4;
  height: 100px;
  border: none;
  outline: none;
  background-color: white;
  /* border-radius: 10px; */
  text-align: right;
  padding: 12px;
  font-size: 19px;
  /* margin-bottom: 20px; */
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  place-items: center;
  background: #0c2835;
  border: 2px solid black;
}
.calculator span:active {
  background: #74ff3b;
  color: #111;
  font-size: 1.5rem;
  font-weight: bold;
}
.calculator span.clear {
  background: rgb(250, 91, 250);
  grid-column: span 2;
  width: 120px;
}
.calculator span.plus {
  display: grid;
  grid-row: span 2;
  height: 120px;
}
